body {
  margin: 0;
  font-family: Arial;
  background: #0b0f1a;
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: #0f172a;
}

nav a {
  margin: 0 10px;
  color: #ccc;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to right, #0b0f1a, #111827);
}

.track-box input {
  padding: 10px;
  width: 250px;
}

.track-box button {
  padding: 10px;
  background: #facc15;
  border: none;
  cursor: pointer;
}

.services {
  padding: 50px;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.grid div {
  background: #1f2937;
  padding: 20px;
  border-radius: 10px;
}

.booking form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

.booking input, button {
  padding: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #0f172a;
}